body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
}

.weather-container { /* Container Flexível para os Cartões */
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.card { /* Estilo dos Cartões */
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 280px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #393939;
}

.weather-icon {
    font-size: 4em;
    margin: 15px 0;
}

.temperature {
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 1.2em;
    color: #5a5a5a;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.details {
    text-align: left;
}

.details p {
    margin: 8px 0;
    color: #3333;
}

/*footer*/
footer {
    flex-shrink: 0; /* Impede o footer de encolher */
    padding: 30px 0; /* Espaçamento interno (30px em cima/baixo) */
    text-align: center;
    color: #777;
    font-size: 18px;
}

/* Responsividade para Dispositivos Móveis */
@media (max-width: 768px) {
    .weather-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 350px;
    }

}